@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.navbar {
  z-index: 1;
  border: 0px !important;
  background-color: white !important;
  height: 100px; }
  .navbar .navbar-brand {
    float: none; }
    .navbar .navbar-brand img {
      margin-left: -50px;
      padding-right: 50px; }
  .navbar ul {
    margin-top: 25px; }
    .navbar ul li {
      display: inline-block;
      background-color: white !important; }
      .navbar ul li a {
        height: 95px;
        font-family: "Barlow";
        font-size: 25px;
        font-weight: 400;
        color: black !important; }
        .navbar ul li a:hover {
          border-bottom: 4px solid #f39609;
          color: #f39609 !important; }
      .navbar ul li:nth-child(1n+4) a {
        font-size: 22px;
        color: #6e6e6e !important; }
        .navbar ul li:nth-child(1n+4) a:hover {
          color: #f39609 !important; }
      .navbar ul li:last-child a {
        height: 60px;
        width: 150px;
        border: 2px solid #f39609;
        -moz-border-radius: 100px;
        border-radius: 100px;
        -webkit-border-radius: 100px; }
        .navbar ul li:last-child a:before {
          content: url(../img/arrow.png);
          padding-right: 10px; }
        .navbar ul li:last-child a:hover {
          color: white !important;
          text-decoration: none;
          background: #f39609;
          border: 2px solid #f39609; }
          .navbar ul li:last-child a:hover:before {
            content: url(../img/arrow-blanche.png); }
      .navbar ul li.current_page_item a:not([href*='contact']) {
        border-bottom: 4px solid #f39609;
        color: #f39609 !important; }

@media (max-width: 766px) {
  .navbar .navbar-brand img {
    margin-left: 50px; }
  .navbar ul {
    margin-top: 0px; }
    .navbar ul li {
      display: block;
      height: 60px; }
      .navbar ul li:last-child a {
        height: 60px;
        width: 100%;
        border: 0px; }
        .navbar ul li:last-child a:hover {
          background-color: white;
          border: 0px;
          border-bottom: 0px;
          color: #f39609 !important; }
          .navbar ul li:last-child a:hover:before {
            content: url(../img/arrow.png); } }
footer #lefooter {
  padding-top: 110px;
  padding-left: 50px;
  padding-right: 50px; }
  footer #lefooter .row {
    margin-top: 50px; }
  footer #lefooter .titre {
    margin-left: 100px;
    color: white;
    font-family: "Caveat";
    font-size: 50px;
    font-weight: 400; }
    footer #lefooter .titre span {
      color: #f39609; }
  footer #lefooter .sig {
    margin-left: 100px;
    font-family: "Barlow";
    font-size: 22px;
    font-weight: 300;
    color: white; }
  footer #lefooter a.pill {
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    padding: 10px;
    padding-right: 15px;
    margin-left: 35%; }
    footer #lefooter a.pill i {
      padding-right: 20px; }
    footer #lefooter a.pill:hover {
      color: white;
      background-color: #f39609;
      text-decoration: none;
      border: 2px solid #f39609; }
  footer #lefooter .menu {
    margin-top: 50px; }
    footer #lefooter .menu a {
      color: white;
      line-height: 39px;
      font-size: 20px; }
      footer #lefooter .menu a:hover {
        color: #f39609;
        text-decoration: none; }
      footer #lefooter .menu a:before {
        content: "+";
        color: #f39609; }
  footer #lefooter .menu2 {
    margin-top: 50px; }
    footer #lefooter .menu2 a {
      color: white;
      line-height: 39px;
      font-size: 22px; }
      footer #lefooter .menu2 a:hover {
        color: #f39609;
        text-decoration: none; }
footer #subfooter {
  margin-top: 100px;
  color: white;
  font-size: 18px; }
  footer #subfooter a {
    padding-left: 50px;
    color: white; }
    footer #subfooter a:hover {
      text-decoration: none;
      color: #f39609; }

@media (max-width: 768px) {
  footer {
    max-width: 320px !important; }

  .foot {
    background-color: #4f5359 !important;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 50px; }

  #lefooter {
    padding-left: -90px !important; }
    #lefooter .row {
      margin-top: 0 !important; }
    #lefooter .titre {
      text-align: center;
      font-size: 40px !important;
      margin: 0px !important;
      padding-top: 10px; }
    #lefooter .contact {
      margin-left: -50px !important;
      margin-right: 0px !important;
      margin-top: 50px !important;
      font-size: 16px !important; }
    #lefooter .menu {
      font-size: 15px !important; }
    #lefooter .menu2 {
      font-size: 15px !important;
      margin-top: 15px !important; }

  #subfooter {
    margin-top: 10px !important;
    padding-left: 40px !important;
    padding-right: 40px !important; }
    #subfooter a {
      padding: 10px !important; } }
#pages_linked {
  margin-bottom: 80px; }
  #pages_linked .h2 {
    text-align: center;
    font-family: "Caveat";
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px; }
    #pages_linked .h2 span {
      color: #f39609; }
  #pages_linked .link {
    position: relative; }
    #pages_linked .link [data-expand-target] {
      overflow: hidden;
      position: relative; }
    #pages_linked .link [data-expand-link]:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      margin-top: -300px;
      margin-left: -135px;
      margin-right: 15px;
      margin-bottom: -60px; }
    #pages_linked .link .titre {
      background-color: white;
      width: 230px;
      height: 150px;
      position: absolute;
      font-family: "Barlow";
      font-size: 28px;
      font-weight: 400;
      top: 300px;
      right: 0;
      padding-left: 20px;
      padding-top: 10px; }
      #pages_linked .link .titre a {
        color: black; }
        #pages_linked .link .titre a span {
          color: #f39609;
          line-height: 40px;
          font-family: "Caveat";
          font-size: 45px;
          font-weight: 400; }
        #pages_linked .link .titre a em {
          font-family: "Barlow";
          font-size: 15px;
          font-weight: 400; }
          #pages_linked .link .titre a em i {
            color: #f39609; }
        #pages_linked .link .titre a:hover {
          text-decoration: none; }
      #pages_linked .link .titre .band {
        display: block;
        width: 130px;
        height: 8px;
        background-color: #f39609;
        position: absolute;
        bottom: 0;
        left: -35px; }

@media (max-width: 766px) {
  #pages_linked {
    margin-left: 0px !important; }

  .link {
    margin-bottom: 50px; }
    .link .in {
      max-width: 320px !important; }
    .link .titre {
      left: 15px !important; }
      .link .titre .band {
        left: 0px !important; } }
#slider {
  height: 250px; }
  #slider .vignette {
    display: inline-block;
    float: left;
    border-top: 1px outset #DCDCDC; }
    #slider .vignette img {
      width: 150px;
      height: 150px;
      margin: 70px;
      -webkit-filter: grayscale(100%);
      /* Chrome, Safari, Opera */
      filter: grayscale(100%);
      /* Firefox */ }
      #slider .vignette img:hover {
        -webkit-filter: grayscale(0%);
        /* Chrome, Safari, Opera */
        filter: grayscale(0%);
        /* Firefox */ }

#bandeau {
  padding: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000;
  font-family: "Barlow";
  font-size: 25px;
  font-weight: 300; }
  #bandeau a.pill {
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    padding: 15px; }
    #bandeau a.pill i {
      padding-right: 20px; }
    #bandeau a.pill:hover {
      color: white;
      background-color: #f39609;
      text-decoration: none;
      border: 2px solid #f39609; }
  #bandeau h2 {
    font-family: "Caveat";
    font-size: 50px;
    font-weight: 400; }

@media (max-width: 768px) {
  #bandeau {
    padding: 10px !important;
    padding-top: 30px !important;
    font-size: 20px !important; }
    #bandeau h2 {
      font-size: 30px !important; }
    #bandeau a {
      font-size: 15px !important;
      padding: 5px !important; }
      #bandeau a i {
        padding-right: 5px !important; } }
/*
article des actualit├®s
*/
#article {
  margin-top: 40px;
  margin-bottom: 50px; }
  #article h2 {
    text-align: center;
    font-family: "Caveat";
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px; }
  #article .actu [data-expand-target] {
    overflow: hidden;
    position: relative; }
  #article .actu [data-expand-link]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin-top: -275px;
    margin-left: -360px;
    margin-right: -50px;
    margin-bottom: -40px; }
  #article .actu .band {
    display: block;
    width: 130px;
    height: 8px;
    background-color: #f39609;
    position: absolute;
    top: 50px;
    right: -75px; }
  #article .txt {
    height: 330px;
    padding-left: 100px;
    padding-top: 40px; }
    #article .txt .cat {
      color: #f39609;
      font-family: "Barlow";
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase; }
    #article .txt .titre {
      font-family: "Barlow";
      font-size: 25px;
      font-weight: 300;
      padding-top: 30px;
      padding-bottom: 30px; }
    #article .txt a {
      color: #6e6e6e;
      font-family: "Barlow";
      font-size: 20px;
      font-weight: 400; }
      #article .txt a:hover {
        text-decoration: none;
        color: #f39609; }
      #article .txt a span {
        color: #f39609; }
    #article .txt .lire {
      position: absolute;
      bottom: 40px; }

@media (max-width: 768px) {
  #article .txt {
    padding-left: 50px;
    height: 300px !important; }
    #article .txt .lire {
      position: absolute;
      bottom: 50px; } }
/*
Header des pages template
*/
#top {
  height: 535px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white; }
  #top .in {
    padding: 100px; }
    #top .in h1 {
      text-shadow: 2px 2px 4px #000;
      font-family: "Barlow";
      font-size: 30px;
      font-weight: 300; }
      #top .in h1 span {
        font-family: "Caveat";
        font-size: 60px;
        font-weight: 400; }

@media (max-width: 768px) {
  .in {
    padding-left: 10px !important;
    padding-right: 10px !important; }
    .in h1 {
      font-style: 20px !important; }
      .in h1 span {
        font-style: 40px !important; } }
#accueil #accueil_top .in {
  text-align: center;
  color: white;
  width: 60%;
  margin: auto; }
  #accueil #accueil_top .in .first {
    padding-top: 150px;
    font-family: "Caveat";
    font-size: 60px;
    font-weight: 400; }
    #accueil #accueil_top .in .first span {
      color: #f39609; }
  #accueil #accueil_top .in ul {
    padding-top: 25px;
    padding-bottom: 50px; }
    #accueil #accueil_top .in ul li {
      display: inline-block;
      border-right: 2px solid #f39609;
      font-family: "Barlow";
      font-size: 30px;
      font-weight: 300;
      padding-left: 20px;
      padding-right: 20px; }
      #accueil #accueil_top .in ul li:last-child {
        border-right: 0; }
  #accueil #accueil_top .in a.pill {
    color: white;
    font-family: "Barlow";
    font-size: 30px;
    font-weight: 400;
    border: 2px solid white;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    padding: 15px; }
    #accueil #accueil_top .in a.pill:before {
      content: url(../img/arrow.png);
      padding-right: 10px; }
    #accueil #accueil_top .in a.pill:hover {
      color: white !important;
      text-decoration: none;
      background: #f39609;
      border: 2px solid #f39609; }
      #accueil #accueil_top .in a.pill:hover:before {
        content: url(../img/arrow-blanche.png); }
#accueil #accueil_main {
  margin-top: 75px; }
  #accueil #accueil_main #accueil_main_who {
    margin-bottom: 110px; }
    #accueil #accueil_main #accueil_main_who .photo {
      width: 550px;
      height: 510px; }
    #accueil #accueil_main #accueil_main_who .photo img {
      background-size: cover; }
    #accueil #accueil_main #accueil_main_who .txt {
      padding: 60px;
      position: relative;
      background-color: white;
      width: 500px;
      margin-top: -90px; }
      #accueil #accueil_main #accueil_main_who .txt h1 {
        font-family: "Caveat";
        font-size: 50px;
        font-weight: 400; }
      #accueil #accueil_main #accueil_main_who .txt p {
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: "Barlow";
        font-size: 20px;
        font-weight: 300; }
      #accueil #accueil_main #accueil_main_who .txt .orange {
        color: #f39609;
        font-style: italic;
        font-family: "Barlow";
        font-size: 25px;
        font-weight: 400; }
      #accueil #accueil_main #accueil_main_who .txt .pill {
        padding: 10px;
        font-family: "Barlow";
        font-size: 20px;
        font-weight: 400;
        color: black;
        border: 2px solid #f39609;
        -moz-border-radius: 100px;
        border-radius: 100px;
        -webkit-border-radius: 100px; }
        #accueil #accueil_main #accueil_main_who .txt .pill:before {
          content: url(../img/arrow.png);
          padding-right: 10px; }
        #accueil #accueil_main #accueil_main_who .txt .pill:hover {
          color: white !important;
          text-decoration: none;
          background: #f39609;
          border: 2px solid #f39609; }
          #accueil #accueil_main #accueil_main_who .txt .pill:hover:before {
            content: url(../img/arrow-blanche.png); }
      #accueil #accueil_main #accueil_main_who .txt .band {
        display: block;
        width: 130px;
        height: 8px;
        background-color: #f39609;
        position: absolute;
        right: 0;
        top: 0; }
    #accueil #accueil_main #accueil_main_who .link {
      width: 515px;
      margin-left: 75px;
      position: relative; }
      #accueil #accueil_main #accueil_main_who .link .in {
        width: 510px; }
      #accueil #accueil_main #accueil_main_who .link .titre {
        position: absolute;
        right: 0;
        background-color: white;
        width: 235px;
        height: 130px;
        padding: 20px; }
        #accueil #accueil_main #accueil_main_who .link .titre a {
          font-size: 28px;
          color: black;
          text-decoration: none; }
          #accueil #accueil_main #accueil_main_who .link .titre a span {
            font-family: "Caveat";
            font-size: 50px;
            font-weight: 400;
            color: #f39609; }
    #accueil #accueil_main #accueil_main_who .first {
      margin-bottom: 60px; }
      #accueil #accueil_main #accueil_main_who .first [data-expand-target] {
        overflow: hidden;
        position: relative; }
      #accueil #accueil_main #accueil_main_who .first [data-expand-link]:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        margin-top: -325px;
        margin-left: -280px;
        margin-right: 0px;
        margin-bottom: -55px; }
      #accueil #accueil_main #accueil_main_who .first .titre {
        top: 325px; }
      #accueil #accueil_main #accueil_main_who .first .band {
        display: block;
        width: 130px;
        height: 8px;
        background-color: #f39609;
        position: absolute;
        bottom: 0;
        left: -35px; }
    #accueil #accueil_main #accueil_main_who .second [data-expand-target] {
      overflow: hidden;
      position: relative; }
    #accueil #accueil_main #accueil_main_who .second [data-expand-link]:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      margin-top: -130px;
      margin-left: -280px;
      margin-right: 0px;
      margin-bottom: -120px; }
    #accueil #accueil_main #accueil_main_who .second .titre {
      top: 130px; }
    #accueil #accueil_main #accueil_main_who .second .band {
      display: block;
      width: 130px;
      height: 8px;
      background-color: #f39609;
      position: absolute;
      bottom: 0;
      left: -35px; }
  #accueil #accueil_main #accueil_main_bandeau {
    height: 380px;
    margin-bottom: 75px;
    position: relative; }
    #accueil #accueil_main #accueil_main_bandeau .container {
      position: absolute;
      top: 100px;
      right: 0;
      color: white; }
      #accueil #accueil_main #accueil_main_bandeau .container .sig {
        margin-top: 20px;
        font-family: "Barlow";
        font-size: 30px;
        font-weight: 400; }
      #accueil #accueil_main #accueil_main_bandeau .container .quote {
        font-family: "Barlow";
        font-size: 40px;
        font-weight: 300;
        font-style: italic; }

@media (max-width: 768px) {
  #accueil_top .in {
    width: 100% !important;
    padding: 0 !important; }
    #accueil_top .in .first {
      font-size: 35px !important; }
    #accueil_top .in ul li {
      font-size: 22px !important; }
    #accueil_top .in a.pill {
      font-size: 16px !important; }

  #accueil_main_who {
    max-width: 320px;
    margin-bottom: 30px !important;
    padding: 0; }
    #accueil_main_who .photo {
      max-width: 320px !important; }
    #accueil_main_who .who {
      margin-left: -15px; }
      #accueil_main_who .who .photo img {
        width: 320px; }
    #accueil_main_who .txt {
      max-width: 320px;
      padding-top: 0px !important;
      padding-left: 20px !important;
      padding-right: 10px !important; }
      #accueil_main_who .txt h1 {
        font-size: 35px !important; }
      #accueil_main_who .txt .band {
        top: -98px !important; }
    #accueil_main_who .link {
      max-width: 320px;
      margin-left: -15px !important; }
      #accueil_main_who .link .titre {
        left: 0;
        right: 50px; }
      #accueil_main_who .link .in {
        width: 320px !important; }

  #accueil_main_bandeau .container .quote {
    font-size: 30px !important; }

  #article {
    max-width: 320px;
    padding-left: 0px !important; }
    #article .band {
      top: 200px !important;
      right: 0px !important; } }
#parent_cont {
  margin-top: -110px; }
  #parent_cont .case {
    margin-bottom: 75px;
    height: 510px; }
    #parent_cont .case [data-expand-target] {
      overflow: hidden;
      position: relative; }
    #parent_cont .case [data-expand-link]:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      margin-top: -500px;
      margin-left: -320px;
      margin-right: 15px;
      margin-bottom: -80px; }
    #parent_cont .case .titre {
      position: absolute;
      right: 0;
      top: 290px;
      background-color: white;
      width: 235px;
      padding: 20px; }
      #parent_cont .case .titre a {
        font-size: 28px;
        color: black;
        text-decoration: none; }
        #parent_cont .case .titre a span {
          font-family: "Caveat";
          font-size: 45px;
          font-weight: 400;
          color: #f39609; }
        #parent_cont .case .titre a em {
          font-size: 15px; }
        #parent_cont .case .titre a i {
          color: #f39609; }
      #parent_cont .case .titre .band {
        display: block;
        width: 130px;
        height: 8px;
        background-color: #f39609;
        position: absolute;
        bottom: 0;
        left: -35px; }

#page_main {
  height: 380px;
  position: relative;
  top: -110px;
  left: -110px; }
  #page_main .photo {
    height: 380px;
    width: 380px; }
  #page_main .txt_jaune {
    height: 380px;
    margin-left: -5px;
    background-color: #f39609;
    color: white;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Caveat";
    font-size: 50px;
    font-weight: 400;
    line-height: 45px; }
  #page_main .band {
    display: block;
    width: 130px;
    height: 8px;
    background-color: #f39609;
    position: absolute;
    bottom: 90px;
    right: -50px; }

#page_content {
  background-color: white;
  position: relative;
  top: -200px;
  padding: 50px;
  margin-bottom: -200px; }
  #page_content p {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Barlow"; }
    #page_content p.caveat {
      font-family: "Caveat";
      font-size: 50px;
      font-weight: 400; }
    #page_content p.barlow {
      font-family: "Barlow"; }

@media (max-width: 766px) {
  #page_main {
    left: 0px; }

  #page_content {
    top: 0px; }
    #page_content .caveat {
      font-size: 40px !important; } }
.single_article {
  z-index: 0; }
  .single_article .single_content h1 {
    color: #f39609;
    font-family: "Barlow";
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px; }
  .single_article .single_content h2 {
    color: #f39609;
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px; }
  .single_article .single_content h3 {
    color: #f39609;
    font-family: "Barlow";
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px; }
  .single_article .single_content .alignright {
    float: right;
    margin: 0 0 30px 30px; }
  .single_article .single_content .alignleft {
    float: left;
    margin: 0 30px 30px 0; }
  .single_article .single_content .aligncenter {
    display: block;
    margin: 0 auto; }
  .single_article .single_content img {
    margin-bottom: 30px;
    max-width: 100%;
    height: auto; }
  .single_article .single_content li {
    list-style-type: disc;
    text-align: left;
    margin-left: 30px; }
  .single_article .single_content strong {
    font-weight: 700; }
  .single_article .single_content p {
    margin-top: 10px;
    margin-bottom: 10px; }
    .single_article .single_content p em {
      font-style: italic; }
    .single_article .single_content p a {
      color: #f39609; }
  .single_article .single_content blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-left: 4px solid #CCC;
    padding-left: 8px; }

#enfant_content .section {
  margin-top: 50px;
  position: relative; }
  #enfant_content .section .left img {
    max-width: 450px; }
  #enfant_content .section .left .jaune {
    position: relative;
    background-color: #f39609;
    color: white;
    width: 400px;
    height: 380px;
    top: -55px;
    padding: 50px;
    font-size: 22px; }
    #enfant_content .section .left .jaune h2 {
      font-family: "Caveat";
      font-size: 50px;
      font-weight: 400;
      margin-bottom: 20px; }
  #enfant_content .section .left .zonerdv {
    width: 400px;
    height: 380px;
    top: -55px;
    padding: 30px;
    font-family: "Caveat";
    font-size: 50px;
    font-weight: 400; }
    #enfant_content .section .left .zonerdv span {
      color: #f39609; }
    #enfant_content .section .left .zonerdv p {
      margin-bottom: 30px; }
    #enfant_content .section .left .zonerdv .pill {
      font-family: "Barlow";
      font-size: 22px;
      font-weight: 400;
      color: black;
      padding: 10px;
      border: 2px solid #f39609;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px; }
      #enfant_content .section .left .zonerdv .pill i {
        color: #f39609; }
      #enfant_content .section .left .zonerdv .pill:hover {
        color: white !important;
        text-decoration: none;
        background: #f39609;
        border: 2px solid #f39609; }
        #enfant_content .section .left .zonerdv .pill:hover i {
          color: white; }
  #enfant_content .section:first-child .left {
    margin-top: -160px; }
  #enfant_content .section .right {
    padding-left: 150px; }
    #enfant_content .section .right .h1 {
      font-family: "Barlow";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #f39609; }
    #enfant_content .section .right h2 {
      font-family: "Caveat";
      font-size: 50px;
      font-weight: 400; }
    #enfant_content .section .right .contenu {
      line-height: 1.2;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: "Barlow";
      font-size: 25px;
      font-weight: 300; }
      #enfant_content .section .right .contenu h3 {
        color: #f39609;
        font-weight: 400;
        font-family: "Barlow";
        font-size: 25px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px; }
      #enfant_content .section .right .contenu em {
        color: #f39609; }

@media (max-width: 768px) {
  #enfant #enfant_content .left {
    max-width: 320px;
    margin-left: -50px !important;
    margin-bottom: 0px !important; }
    #enfant #enfant_content .left img {
      max-width: 320px; }
    #enfant #enfant_content .left .jaune {
      max-width: 320px; }
    #enfant #enfant_content .left .zonerdv {
      max-width: 320px;
      height: 280px !important;
      font-size: 30px !important; }
      #enfant #enfant_content .left .zonerdv .pill {
        font-size: 15px;
        width: 80%;
        margin: 0 auto; }
  #enfant .right {
    padding-left: 0px !important; }
    #enfant .right h2 {
      font-size: 35px !important; }
    #enfant .right .contenu {
      font-size: 15px !important; } }
#contact_formulaire {
  margin-top: -110px;
  background-color: white;
  padding: 50px;
  font-color: #6e6e6e;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 300; }
  #contact_formulaire input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px; }
  #contact_formulaire .question {
    color: #f39609;
    font-family: "Caveat";
    font-size: 30px;
    font-weight: 400; }
  #contact_formulaire .right .wpcf7-list-item input {
    display: block;
    width: 20px;
    float: left; }
  #contact_formulaire .right .wpcf7-list-item .wpcf7-list-item-label {
    display: inline-block;
    padding-top: 7px;
    width: 250px; }
  #contact_formulaire .right .rgpd {
    margin-top: 15px; }
    #contact_formulaire .right .rgpd input {
      display: inline-block; }
    #contact_formulaire .right .rgpd .wpcf7-list-item-label {
      display: block;
      width: 100%; }
  #contact_formulaire .right .souhait {
    display: block; }
  #contact_formulaire .right textarea {
    padding: 10px;
    margin-top: 10px;
    width: 100%; }
  #contact_formulaire .submit {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    width: 50%; }
    #contact_formulaire .submit input {
      color: white;
      border-radius: 100px;
      background-color: #f39609;
      border: 0;
      padding: 10px;
      font-family: "Barlow";
      font-size: 22px;
      font-weight: 400; }

#contact_info {
  height: 370px;
  margin-bottom: 80px;
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 400; }
  #contact_info .txt_jaune {
    background-color: #f39609;
    height: 370px;
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 100px;
    color: white; }
    #contact_info .txt_jaune h2 {
      font-family: "Caveat";
      font-size: 45px;
      font-weight: 400; }
    #contact_info .txt_jaune p {
      margin-bottom: 50px; }

@media (max-width: 768px) {
  .wpcf7-list-item-label {
    width: 170px !important; }

  .submit {
    width: 75% !important; }
    .submit input {
      font-size: 15px !important; }

  .question {
    font-size: 25px !important; } }
#actualite .actu {
  margin-bottom: 30px; }
#actualite #pagination {
  margin-bottom: 60px;
  width: 60%;
  margin-left: 45%;
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 0; }
  #actualite #pagination span, #actualite #pagination a {
    display: inline-block;
    width: 38px;
    border: 1px solid black;
    color: black;
    padding: 10px;
    text-align: center;
    transition: 0.5s; }
    #actualite #pagination span:hover, #actualite #pagination span.current, #actualite #pagination a:hover, #actualite #pagination a.current {
      text-decoration: none;
      color: white !important;
      background-color: #f39609;
      border: 1px solid #f39609; }

#article .actu [data-expand-target] {
  overflow: hidden;
  position: relative; }
#article .actu [data-expand-link]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin-top: -275px;
  margin-left: -360px;
  margin-right: -50px;
  margin-bottom: -40px; }

@media (max-width: 768px) {
  #actualite #pagination {
    width: 100% !important;
    margin-left: 30% !important; } }
.erreur p {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  padding: 50px;
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 300; }
  .erreur p span {
    font-family: "Caveat";
    font-size: 35px;
    font-weight: 400;
    color: #f39609; }

@media (max-width: 768px) {
  .erreur p {
    width: 80%; } }
#mentions {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 300; }
  #mentions h1 {
    font-family: "Barlow";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px; }
  #mentions h2 {
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 500; }
  #mentions p {
    margin-top: 15px;
    margin-bottom: 15px; }
  #mentions a {
    color: #f39609; }
    #mentions a:hover {
      text-decoration: none;
      font-family: "Barlow";
      font-size: 16px;
      font-weight: 400; }

body {
  font-family: "Barlow"; }

/*# sourceMappingURL=styles.css.map */
