#mentions{
	margin-top:50px;
	margin-bottom:50px;
	@include fontstyle(16px, 300);
	h1{
		@include fontstyle(25px, 500);
		margin-bottom:10px;
	}
	h2{
		@include fontstyle(20px, 500);
	}
	p
	{
		margin-top:15px;
		margin-bottom:15px;
	}
	a{
		color:$yellow;
		&:hover{
			text-decoration:none;
			@include fontstyle(16px, 400);
		}
	}
}