.single_article{
	z-index:0;
	.single_content{
		h1{
			color:$yellow;
			@include fontstyle(25px,400);
			margin-bottom:30px;
		}
		h2{
			color:$yellow;
			@include fontstyle(20px,400);
			margin-top:30px;
			margin-bottom:30px;
		}
		h3{
			color:$yellow;
			@include fontstyle(16px,400);
			margin-top:30px;
			margin-bottom:30px;
		}

		.alignright {
			float: right;
			margin: 0 0 30px 30px;
		}
		.alignleft {
			float: left;
			margin: 0 30px 30px 0;
		}
		.aligncenter {
			display: block;
			margin: 0 auto;
		}
		img{
			margin-bottom:30px;
			max-width: 100%;
			height: auto;
		}
		li{
			list-style-type: disc;
			text-align:left;
			margin-left:30px;
		}
		strong{
			font-weight:700;
		}
		p{
			margin-top:10px;
			margin-bottom:10px;
			em{
				font-style:italic;
			}
			a{
				color:$yellow;
			}
		}
		blockquote{
			margin-top:20px;
			margin-bottom:20px;
			margin-left:20px;
			border-left: 4px solid #CCC;
  			padding-left: 8px;
		}
		
	}
}


   